<h1>Our Blog Name</h1>


<% @blog.each do |article|%>
	<ul>
		<li><a href="/displaypost/<%= article.id %>"><%= article.title%></a></li>
		<li><%= article.author %></li>
		<li><%= article.created %></li>
		<li><%= article.edited %></li>
		<li><%= article.content %></li>
	</ul>
	<% end %>