
<h1>Blog View</h1>


<div class="article">
		<ul>
			<li class="title"><%= @displayeditedpost.title%></li>
			<li>Written by: <%= @displayeditedpost.author %></li><br>
			<li><%= @displayeditedpost.content.gsub! "\n","<br>" %></li>
			<li class= "edittime">Last Edited: <%= @displayeditedpost.edited %></li>
			<li class= "createdtime">Created: <%= @displayeditedpost.created %></li>
		</ul><br>
	</div>


<form action="/displaypost/edit/<%= @displayeditedpost.id %>" method="get">
	<input type="submit" value="Edit">
</form>

<form action="/delete_post/<%= @displayeditedpost.id %>"method= "post">
	<input type="hidden" name="_method" value ="delete">
	<input type="submit" value="Delete">
</form>
