<h1>Blog Entry Name</h1>

<li><%= @displayeditedpost.title %></li>
<li><%= @displayeditedpost.author %></li>
<li><%= @displayeditedpost.edited %></li>
<li><%= @displayeditedpost.created %></li>
<li><%= @displayeditedpost.content %></li>

<a href="/viewpost/edit/<%= @displayeditedpost.id %>">edit</a>
<a href>delete</a>